<div *ngIf="downloadPhotos$ | async as Photos" class="pushform">
    <form [formGroup]="uploadPhotosForm">  
        <select #reset name="PhotoName" (change)="onNameChange($event.target.value)">
            <option value="New Photo" selected>New Photo</option>
            <option *ngFor="let photo of Photos"
                [value] = photo.name> {{ photo.name}}     
              </option> 
        </select><br><br>
        <p> Photo Name: <input formControlName="name" type="text" > </p>
      
        <p> Date: <input formControlName="date" class="medium" type="text"></p>
        <p> Caption: <textarea formControlName="caption" rows=2 cols=70></textarea> </p>
        <p> Link: <input #link  type="file" (change)="onFile($event)"></p>
      
        <div *ngIf="photovariable">
          <P>Current Photo:</P>
          <img [src]="uploadPhotosForm.get('link').value">
          <br><br>
        </div>
        
      
        <button type="submit"
        [disabled]="(!uploadPhotosForm.valid || (photovariable !== undefined))"
        (click)="onSubmit()">Submit</button>
        &nbsp;
        <button type="Update" 
        (click)="onUpdate()" 
        [disabled]="photovariable === undefined"
        >Update Pic
        </button>
        &nbsp;
        <button type = "Delete" 
        (click)="onDelete()"
        [disabled]="photovariable === undefined"
        > Delete </button> &nbsp; {{ message }}
      </form>
      <br>      
</div>