<link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">

<div id="background">
    <br>
    <div id="outer">
        <div id="research">
            <div *ngIf="research$ | async as research">
                <br>
                <div class="research" [innerHTML]="research.mainText"></div>
                <hr>
                <u><h5>Key Findings:</h5></u>
                <app-grid
                [collect]="gridData">
                </app-grid>
            </div>
        </div>
    </div>
    <br>
</div>
