
<div *ngIf="person$ | async as person">
  <img id="portrait" [src]="person.portraitLink">
  <div id="cardinfo">
        <p id="Name">{{ person.name }}
          <span *ngIf="person.pronouns" id="Pronouns">({{ person.pronouns }})</span>
        </p>
        <p id="Description">{{ person.description }}, {{ person.startYear }} - {{ person.endingYear }}</p>
        <p id="Studying">{{ person.studying }}</p>
        <p id="Project">{{ person.project }}</p>
        <p *ngIf="person.publicEmail"><b>Email: </b> {{ person.publicEmail }}</p>
        <p *ngIf="person.cvresume"><b><a [href]="person.cvresume">CV/Resume</a></b></p>
  </div>
  <div style="clear: both;"></div><br>
    

      <!--PROJECTS-->
<h4 *ngIf="projects">Projects:</h4>
<div *ngFor="let project of projects">
  <h5>{{ project.title }}</h5>
  <p>{{ prject.mainInfo }}</p>
</div>



<!--PUBLICATIONS-->
<div *ngIf="publications">
  <h4>Publications:</h4>
  <!--NEEDS THE UNDERLINE PUBS BRANCH TO BE MERGED
  <app-display-pubs
[mainAuthor]="person.pubName"
[publications]="publications"
></app-display-pubs>
  -->
  * = contributed equally
</div>

<!--PUBLICATIONS-->
<div *ngIf="Awards">
    <h4>Awards:</h4>
<ul id="awards">
  <li *ngFor="let award of awards">
    {{ award.yearReceived }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ award.title }}
  </li>
</ul>
</div>

<!--SOCIAL MEDIA-->
      <div id="SocialMedia" *ngIf="ShowSocial">
        <h4>Social Media Links:</h4>
          <ul id="socialmedia">
              <div *ngFor="let social of sMTypes">
                  <li *ngIf="socialMedia[social]">
                      <a  class="fa" [id]="social"
                          target="_blank"
                          [href]="socialMedia[social]">
                        {{ social }}
                      </a>
                    </li>
              </div>
            </ul>
      </div>

</div>
