
<div *ngIf="person$ | async as person">
  <img id="portrait" [src]="person.portraitLink">
  <div id="cardinfo">
        <p id="Name">{{ person.name }}
          <span *ngIf="person.pronouns" id="Pronouns">({{ person.pronouns }})</span>
        </p>
        <p id="Description">{{ person.description }}, {{ person.startYear }} - {{ person.endingYear }}</p>
        <p id="Studying">{{ person.studying }}</p>
        <p id="Project">{{ person.project }}</p>
  </div>
  <div style="clear: both;"></div><br>
    

      <!--PROJECTS-->
<h4 *ngIf="projects">My Projects:</h4>
<div *ngFor="let project of projects">
  <h5>{{ project.title }}</h5>
  <p>{{ prject.mainInfo }}</p>
</div>



<!--PUBLICATIONS-->
<div *ngIf="publications">
  <h4>My Publications</h4>
  <!--NEEDS THE UNDERLINE PUBS BRANCH TO BE MERGED
  <app-display-pubs
[mainAuthor]="person.pubName"
[publications]="publications"
></app-display-pubs>
  -->
  * = contributed equally
</div>


<!--SOCIAL MEDIA-->
      <div id="SocialMedia" *ngIf="ShowSocial">
        <h4>My Social Media Links:</h4>
          <ul>
              <div *ngFor="let social of sMTypes">
                  <li *ngIf="socialMedia[social]">
                      <a  class="fa" [id]="social"
                          target="_blank"
                          [href]="socialMedia[social]">
                        {{ social }}
                      </a>
                    </li>
              </div>
            </ul>
      </div>

</div>
