<link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">

<div id="background">
  <div id="center">
  <br>
  <div id="outer" *ngIf="person$ | async as person">
    <div id="cardinfo">
        <img id="portrait" [src]="person.portraitLink">
      <div id="top">
          <h3>{{ person.name }} <span *ngIf="person.pronouns" id="Pronouns">({{ person.pronouns }})</span></h3>
          <h5>{{ person.description }}<span *ngIf="person.description !== 'PI'">, {{ person.startYear }} - {{ person.endingYear }}</span></h5>
          <h5 id="Studying">{{ person.studying }} <span *ngIf="person.department">In {{ person.department }}</span></h5>
      </div>
      <div id="bottom">
        <br>
          <div *ngIf="person.publicEmail"><a [href]="mail" target="_blank">Email</a></div>
          <div *ngIf="person.website"><a [href]="person.website" target="_blank">Web Page</a></div>
          <div *ngIf="person.github"><a [href]="person.github" target="_blank">GitHub</a></div>
          <div *ngIf="person.cvresume"><a [href]="person.cvresume">CV/Resume</a></div>
          <br>
          <div *ngIf="person.about"><b>About Me:</b> {{ person.about }}</div>
      </div>
    </div>
    <span style="clear: both;"></span>

        <!--PROJECTS-->
  <div *ngIf="projects[0].title" class="conditional">
    <hr>
    <h5><u>Projects:</u></h5>
    <div class="offset"*ngFor="let project of projects" >
      <b>{{ project.title }}</b><br>
      <span>{{ project.mainInfo }}</span><br>
      <span *ngIf="project.githubLink"><a [href]="project.githubLink" target="_blank">GitHub Repository</a></span>
      <br>
    </div>
    <br>
  </div>




  <!--PUBLICATIONS-->
  <div *ngIf="publications[0]" class="conditional">
    <hr>
    <h3><u>Publications:</u></h3>
    <div  class="offset">
      <app-display-pubs
      [mainAuthor]="mainAuthor"
      [publications]="publications"
      ></app-display-pubs>
      * = contributed equally
    </div>
    <br>
  </div>

  <!--Awards-->
  <div *ngIf="awards[0].title" class="conditional">
      <hr>
      <h3><u>Awards:</u></h3>
    <ul id="awards">
      <li *ngFor="let award of awards">
        {{ award.yearReceived }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ award.title }}
      </li>
    </ul>
    <br>
  </div>

  <!--SOCIAL MEDIA-->
    <div id="SocialMedia" *ngIf="ShowSocial">
        <hr>
        <h3><u>Social Media Links:</u></h3>
        <ul id="socialmedia">
          <div *ngFor="let social of sMTypes">
            <li *ngIf="socialMedia[social]">
              <a  class="fa" [id]="social"
                  target="_blank"
                  [href]="socialMedia[social]">
                {{ social }}
              </a>
            </li>
          </div>
        </ul>
        <br>
      </div>
      
    </div>
  </div>
</div>
