<form [formGroup]="rolesForm">
<b>User: </b>
<select formControlName="User">
  <option value=true>true</option>
  <option value=false>false</option>
</select><br>
Users have access to Edit My Person Card and Edit My User Page 
<br><br>

<b>Uploader: </b>
<select formControlName="Uploader">
  <option value=true>true</option>
  <option value=false>false</option>
</select><br>
Uploaders have access to Add/Edit Lab Photos and Add/Edit New News Event 
<br><br>

<b>Admin: </b>
<select formControlName="Admin">
  <option value=true>true</option>
  <option value=false>false</option>
</select><br>
Admin have access to Edit Publications, Edit Members, and Edit Research/Contact Pages
<br><br>

<button (click)=onEdit() [disabled]="!activeUser">Edit</button>
</form>