<form [formGroup]="ResearchForm">
  <label>Edit Main Text</label> <br>
  <textarea formControlName="MainText" rows=25 cols=70></textarea><br>
  <button type="submit"
  [disabled]="!ResearchForm.controls.MainText.dirty"
  (click)="SubmitResearch(false)">Accept</button>{{MessageTop}}
  <br>


  <hr>


  <label>Edit Figures:</label> <br>
  
  <div id="Title">
    <select #reset name="FigureName" (change)="onNameChange($event.target.value)">
      <option value="-1" selected>New Figure</option>
      <option *ngFor="let figure of Figures, let i = index"
          [value] = i> {{ figure.Name }}
      </option>
    </select>
    <br><br>
    <label>Title:</label> <input formControlName="Title"><br>
    

    <label>Caption:</label><br>
    <textarea rows=7 cols=70 formControlName="Description" wrap="hard"></textarea>
  </div><br>
  
  
  
  <label>Image Upload:</label><input #image type="file" (change)="onFile($event)"><br>
  <button type="submit"
  [disabled]="!ResearchForm.valid"
  (click)="SubmitResearch(true)">Accept</button>
  
  <button
  [disabled]="!edit"
  (click)="deleteResearch()">Delete</button> {{MessageBottom}}

</form>
<br><br>
