<form [formGroup]="ResearchForm">
  <label>Edit Main Text:</label> <br>
  <textarea formControlName="MainText" rows=25 cols=70></textarea><br>
  <label>Help:</label> <br>
  <span id="helptext">You can use all standard web tags.  You will most likely want:</span>
  <ul>
      <li><b>Textformating:</b> &lt;i&gt;, &lt;u&gt;, &lt;b&gt;</li>
      <li><b>Headers:</b>&lt;h1&gt;,&lt;h2&gt;,&lt;h3&gt;,&lt;h4&gt;,&lt;h5&gt;</li>
      <li><b>Links:</b>&lt;a href="link"&gt;how link should appear in text&lt;/a&gt;</li>
      <li><b>Lists:</b>  &lt;ul&gt; (unordered list), &lt;ol&gt; (ordered list), &lt;li&gt; (list element)</li>
      <li><b>Sections:</b> &lt;span&gt; (section with no return), &lt;div&gt; (complete section with return), &lt;p&gt; (paragraph, spaces between)</li>
      <li><b>Misc:</b>&lt;hr&gt;(line break), &lt;br&gt;(finish current line/return)</li>
  </ul>
  <label>WYSIWYG:</label> <br>
  <div id="WYSIWYG" [innerHTML]="ResearchForm.get('MainText').value"></div>
  <br>
  <button type="submit"
  [disabled]="!ResearchForm.controls.MainText.dirty"
  (click)="SubmitResearch(false)">Accept</button>{{MessageTop}}
  <br>


  <hr>


  <label>Edit Figures:</label> <br>
  
  <div id="Title">
    <select #reset name="FigureName" (change)="onNameChange($event.target.value)">
      <option value="-1" selected>New Figure</option>
      <option *ngFor="let figure of Figures, let i = index"
          [value] = i> {{ figure.Name }}
      </option>
    </select>
    <br><br>
    <label>Title:</label> <input formControlName="Title"><br>
    

    <label>Caption:</label><br>
    <textarea rows=7 cols=70 formControlName="Description" wrap="hard"></textarea>
  </div><br>
  
  
  
  <label>Image Upload:</label><input #image type="file" (change)="onFile($event)"><br>
  <button type="submit"
  [disabled]="!ResearchForm.valid"
  (click)="SubmitResearch(true)">Accept</button>
  
  <button
  [disabled]="!edit"
  (click)="deleteResearch()">Delete</button> {{MessageBottom}}

</form>
<br><br>
