div#background {
    background-color: rgb(132, 163, 189);
    min-height: 100vh;
  }

div#outer {
    display: flex;
    justify-content: center;
}

div#contact {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 700px;
    background-color: rgb(239, 243, 245);
}
