<div id="header">
  <h1>
      Welcome to the Creanza Lab!
    </h1>
  
    <nav>
      <a class="navbar" routerLink="/">Home</a>
      <a class="navbar" routerLink="/research">Research</a>
      <a class="navbar" routerLink="/people">People</a>
      <a class="navbar" routerLink="/publications">Publications</a>
      <a class="navbar" routerLink="/users">Sign On</a>
    </nav>    
</div>
<hr>

<router-outlet></router-outlet>
<br><br>
<div id="footer">
  Website coded by CM Robinson and P Rundstrom with help by D Obodo.
</div>
