div#googleBtn{
    cursor: pointer;
    height:60px;
    width:240px;
    background-size: contain;
    background-image: url("../../../assets/images/g-normal.png");
}

div#googleBtn:hover{
    background-size: contain;
    background-image: url("../../../assets/images/g-focus.png");
}

div#googleBtn:focus{
    background-size: contain;
    background-image: url("../../../assets/images/g-focus.png");
}

div#googleBtn:active{
    background-size: contain;
    background-image: url("../../../assets/images/g-press.png");
}

div#googleBtn:disabled{
    background-size: contain;
    background-image: url("../../../assets/images/g-disabled.png");
}

div#background {
    background-color: rgb(132, 163, 189);
    min-height: 100vh;
    padding-bottom: 30px;
}

div#push {
    padding-top: 10px;
    margin-left: 25px;
}
div#push2 {
    margin-left: 25px;
    background-color: rgb(188, 221, 231);
    display: inline-block;
    padding: 10px;
}
div#help {
    max-width: 600px;
}
a {
    color: rgb(12, 85, 78);
    margin-left: 30px;
}

a:hover {
    color: rgb(90, 116, 113)
}

div#forms {
    background-color: rgb(188, 221, 231);
    padding-top: 15px;
    max-width: 750px;
    margin-left: 15px;
    padding-right: 8px;
}