
<div *ngIf="auth.user | async; then authenticated else guest">
    <!-- template will replace this div -->
</div>


<!-- User NOT logged in -->
<ng-template #guest>
    <div id="googleBtn" (click)="auth.googleLogin()"></div>
</ng-template>

<ng-template #authenticated>
    <div *ngIf="auth.user | async as user">
        <h3>Welcome back, {{ user.name }}!</h3>

        What would you like to do today?<br>
        <a routerLink='edit/card'>Edit my Person Card</a><br>
        <a routerLink='edit/page'>Edit my User Page</a><br>
        <div *ngIf="user.roles[0]">
            <!-- change this to 1 once research and members is complete! -->
            <a routerLink='edit/research'>Edit the Research Page</a><br>
            <a routerLink='edit/publications'>Edit Publications</a><br>
            <a routerLink='edit/members'>Edit Member Access</a><br>
        </div><br>

        <button (click)="auth.logout()">Logout</button>
    </div>
    <hr>

    <router-outlet></router-outlet>
</ng-template>