
<div *ngIf="auth.user | async; then authenticated else guest">
    <!-- template will replace this div -->
</div>


<!-- User NOT logged in -->
<ng-template #guest>
    <br>
        <div class="push">
        <div id="help">
            Creanza Lab members and alumni can modify their profiles here!  If you are new to the lab and do not yet have access, ask Nicole to add you.  She will just need a gmail account from you.
        </div>
        <br>
        <div id="googleBtn" (click)="auth.googleLogin()"></div>
    </div>
</ng-template>

<ng-template #authenticated>
    <div class="push">
        <div *ngIf="auth.user | async as user">
            <h3>Welcome back, {{ user.name }}!</h3>

            What would you like to do today?<br>
            <a routerLink='edit/card'>Edit my Person Card</a><br>
            <a routerLink='edit/page'>Edit my User Page</a><br>
            <div *ngIf="user.roles[1]">
                <!-- change this to 1 once labphotos is complete! -->
                <a routerLink='upload/labphotos'>Edit Lab Photos</a><br>
            </div>
            <div *ngIf="user.roles[2]">
                <!-- change this to 2 once research, members, and publications is complete! -->
                <a routerLink='admin/research'>Edit Research/Contact Pages</a><br>
                <a routerLink='admin/publications'>Edit Lab Publications</a><br>
                <a routerLink='admin/members'>Edit Members</a><br>
            </div><br>

            <button (click)="auth.logout()">Logout</button>
        </div>
    </div>
    <hr>

    <router-outlet></router-outlet>
</ng-template>