div#outer{
    display: flex;
    flex-flow: row;
}

div#containTwitter{
    display: inline-block;
    height: 700px;
    overflow-y:scroll;
    width:440px;
    margin:10px;
}

.lab-caption {
  background-color: black;
}
