div#background {
    background-color: rgb(132, 163, 189);
    min-height: 100vh;
  }

div#outer {
    display: flex;
    justify-content: center;
}
div#inner {
    margin-left: 30px;
    padding-left: 4em;
    padding-right: 1.2em;
    text-indent:-3em;
    max-width: 700px;
    background-color: rgb(255, 255, 255);
}

div#contribute {
    margin-left: 30px;
}
h3{
    margin-left: 30px;
    margin-top: 25px;
}