
<h3>Publications</h3>
<hr>
<div id="outer" role="list" *ngIf="publications$ | async as publications">
  <div role="listitem"  *ngFor="let publication of publications">
    <p>
      <span *ngFor="let author of publication.authors, let i = index"
      [style.font-weight]=" MainAuthor.test(author) ? 'bold' : 'normal' ">
        {{author}}<span id="comma"
        *ngIf="i !== publication.authors.length-1">, </span>
      </span>
      <!-- {{ publication.authors.join(", ") }} -->
      ({{ publication.year }}). 
      {{ publication.title }}.
      <i> {{ publication.journal }}</i>.
      <span *ngIf="publication.issue">{{ publication.issue }}</span>
      <span *ngIf="publication.volume">({{ publication.volume }})</span>
      <span *ngIf="publication.first_page">: {{ publication.first_page }}-{{ publication.last_page }}</span>
      <span *ngIf="publication.article_number">: #{{ publication.article_number }}</span>
      
      DOI: <a href="https://www.doi.org/{{ publication.doi}}" target="_blank">{{ publication.doi }}</a>
    </p>
  </div>
</div>
<br>
<div id="contribute">
  * = contributed equally
</div>
